extends layout

mixin GetDownload
  if OS.indexOf("Windows") != -1
    a.btn.btn-primary(href=("/downloads/DDNet-"+version+"-win32.zip"))= download_text
  if OS.indexOf("Linux") != -1
    a.btn.btn-primary(href=("/downloads/DDNet-"+version+"-linux_x86_64.tar.xz"))= download_text
  if OS.indexOf("Mac") != -1
    a.btn.btn-primary(href=("/downloads/DDNet-"+version+"-osx.dmg"))= download_text

block content
  img.img-fluid(src="/img/ddnet.png")
  h2 DDRace Servers and much more!
  p
  | DDraceNetwork (DDNet) is an actively maintained version of DDRace, a 
  a(href='https://www.teeworlds.com/') Teeworlds
  |  modification with a unique cooperative gameplay. Help each other play through 
  a(href='/releases/') custom maps
  |  with up to 64 players, compete against the best in 
  a(href='/tournaments/') international tournaments
  | , design your 
  a(href='/howto/') own maps
  | , or run your 
  a(href='/settingscommands/') own server
  | . The 
  a(href='/status/') official servers
  |  are located in Germany, Russia, USA, Canada, China, Chile, Brazil, South Africa and Australia. All 
  a(href='/ranks/') ranks
  |  made on official servers are available worldwide and you can 
  a(href='/players/milk') collect points
  | !
  hr
  .row
    .col-md-8
      +addvideo(video_link)
    .col-md-4
      img.img-fluid(src="/img/www.ddnet.tw.png")
      img.img-fluid.mt-2(src="/img/locations.png")
    .col-md-8.mt-2
        .btn-group.btn-group-lg(role='group', aria-label='download buttons')
          +GetDownload()
          .btn-group(role='group')
            button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | More links &amp; Social Networks
            .dropdown-menu(aria-labelledby='btnGroupDrop1')
              a.dropdown-item(href="/downloads") Other Systems and Versions
              a.dropdown-item(href='/tools') Tools
              a.dropdown-item(href='https://github.com/ddnet/ddnet' target="_blank") Github
              a.dropdown-item(href='https://discordapp.com/invite/WJ9Xe7n' target="_blank") Discord
              a.dropdown-item(href='http://webchat.quakenet.org/?channels=ddnet&uio=d4' target="_blank") IRC-Chat
  hr
  h2 News
  p TODO: add dynamic news
  p Your OS is: #{OS}
  
